.main__layout {
  display: grid;
  grid-gap: 0.5rem;
}

.u--xs-hide {
  display: none;
}

@media screen and (min-width: 64rem) {
  .flex--grow {
    flex-grow: 1;
    & > .btn {
      float: right;
    }
  }
  .main__layout {
    grid-template-columns: 2fr 3fr;
  }
  .u--xs-hide {
    display: block;
  }
}

.map__container > div > div {
  position: fixed;
  position: sticky!important;
  top: -1px;
}