.form__group--inline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.form__group--inline {
  flex-basis: 100%;
  & > * {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 48rem) {
  .form__group--inline {
    flex-direction: row;
    align-items: center;
  }
}