@import url('https://fonts.googleapis.com/css?family=Roboto');

/* VARIABLES */
:root {
  --body-font: 'Roboto', sans-serif;
  --primary: #9281FA;
  --secondary: #FC1474;
  --blue: #1E0D46;
  --light-bg: #F1F2F7;
}

* { box-sizing: border-box; }

html, body {
  background-color: var(--light-bg);
  font-family: var(--body-font);
  margin: 0;
}

h1 {
  font-family: var(--body-font);
  color: var(--blue);
  margin: 0;
}

h2 {
  display: flex;
  align-items: center;
  margin: 0;
}

.u__text--blue {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--blue);
  margin: 1rem 0;
}

.u--text-sm { font-size: 0.8rem; }
.u--hide { display: none; }
.bg--purple { border-top: 4px solid var(--blue); }

.container {
  width: 90vw;
  margin: 0 auto;
}