@import '../Typography/Typography.css';

.btn {
	border: 0;
	border-radius: 25px;
	display: flex;
	align-items: center;
	padding: 10px 25px;
	font-size: 1rem;
	font-weight: 600;
	margin-top: 4px;
	margin-bottom: 4px;
}

.btn--primary {
	background-color: #E8534F;
	color: white;
}

.btn--secondary {
	border: solid 3px;
	color: #1C3435;
}

.btn-group {
	display: flex;
}

.btn-group__item {
	border-radius: 0;
	&:first-child {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		border-right-width: 0;
	}
	&:last-child {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		border-left-width: 0;
	}
	&:hover {
		background-color: #1C3435;
		border-color: #1C3435;
		color: white;
	}
}

.select__container--custom {
	position: relative;
	width: auto;
	&::after {
		font-family: 'Material Icons';
		font-size: 2rem;
		content: '\E5C5';
		position: absolute;
		left: 145px;
		top: 11px;
		z-index: 0;
	}
}

.select--custom {
	display: inline-block;
	vertical-align: middle;
	border-radius: 25px;
	padding-left: 15px;
	padding-right: 45px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}