@import '../Typography/Typography.css';

.btn {
	border: 0;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 25px;
	font-size: 1rem;
	font-weight: 600;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
}

.btn--primary {
	background: var(--primary);
	background: linear-gradient(270deg, rgba(91,126,251,1) 0%, rgba(138,97,250,1) 100%);
	color: white;
	text-transform: uppercase;

}

.btn--secondary {
	border: solid 3px;
	color: var(--primary);
}

.btn-group {
	display: flex;
}

.btn-group__item {
	border-color: rgba(138,97,250,1);
	border-radius: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	&.btn-group__item--selected {
		background: #ddddff;
	}
	&:first-child {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		border-right-width: 0;
	}
	&:last-child {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		border-left-width: 0;
	}
}


.select__container--custom {
	position: relative;
	width: auto;
	&::after {
		color: var(--secondary);
		font-family: 'Material Icons';
		font-size: 2rem;
		content: '\E5C5';
		position: absolute;
		right: 1.5rem;
		top: 11px;
		z-index: 0;
	}
}

.select--custom {
	display: inline-block;
	vertical-align: middle;
	border-radius: 25px;
	padding-left: 15px;
	padding-right: 45px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@media screen and (min-width: 64rem) {
	.btn {
		width: auto;
	}
}