@import '../Typography/Typography.css';

.badge__list {
  display: flex;
  list-style-type: none;
  margin: 0.5rem 0 0;
  padding-left: 0;
  flex-wrap: wrap;
}

.badge {
  border-radius: 25px;
  background-color: var(--light-bg);
  color: #4836b8;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  padding: 0.25rem 1rem;
}