.badge-list {
  display: flex;
  list-style-type: none;
  margin: 8px 0 0;
  padding-left: 0;
  flex-wrap: wrap;
}

.badge {
  border: 1px solid;
  border-radius: 25px;
  color: #E8534F;
  font-size: 0.7rem;
  margin-right: 8px;
  margin-top: 4px;
  padding: 4px 16px;
}